name = "racing-mp"
main = "cloudflare/worker.js"
compatibility_date = "2026-03-29"

[durable_objects]
bindings = [
	{ name = "ROOM", class_name = "Room" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Room"]
